//PATHS
$roboto-font-path: '../fonts/roboto/';

//FONT-SIZES
$font-size-default: 1rem;         // 16px
$font-size-small: 0.875rem;       // 14px
$font-size-super-small: 0.75rem;  // 12px
$font-size-big: 1.125rem;         // 18px
$font-size-big: 1.25rem;          // 20px